/Array2D.class
/Coupon.class
/FlipCoin.class
/Gambler.class
/Harmonic.class
/LeapYear.class
/MainClass.class
/PowerOf2.class
/PrimeFactor.class
/SingletonScanner.class
/StringReplace.class
/EuclideanDistance.class
/Distance.class
/Permutation.class
/Stopwatch.class
/TicTacToe.class
/Position.class
/Quadratic.class
/WindChill.class
/CoupanGenerator.class
/CouponGenrator.class
