/Anagram.class
/Prime.class
/MainClass.class
/Palindrome.class
/UtilityClass.class
/WordList.class
/Merge.class
/isPrimeAnagram.class
/PrimeAnagram.class
/VendingMachine.class
/TemperaturConversion.class
/QuestionToFindNumber.class
/ToBinary.class
/ToSwapNibble.class
